<div class = "container">
  <div class="heading" align = "center">
    <h3>Welcome to {{title}}</h3>
    </div>
    
    <div *ngIf = "message == 'Login successful'">
      <ul>
       <li><a routerLink="/flighsearch">Flight Search</a></li>
       <li><a routerLink="/addflight">Add Flight</a></li>
       <li><a routerLink="/flightbyID">Search Flight By Id</a></li>
       <li><a routerLink="/flightlist">All Flights List</a></li>
       <li><a routerLink="/passengerbyId">Search Passenger by Id</a></li>
       <li><a routerLink="/removeflight">Delete Flight Details</a></li>
       <li><a routerLink="/updateflight">Update Flight Details</a></li>
      </ul>
    </div>
    <br/>
    <br/>
    <ng-container *ngIf= "message != 'Login successful'">
    <ng-container *ngIf ="loginflag">
      <div align = "center">
          <h3 style="text-decoration: underline;">Please login to continue</h3>
          <table border="1px">
              <tr>
                  <td><input type="text" [(ngModel)]="username" placeholder="Enter Username"></td>
              </tr>
              <tr>
                  <td><input type="text" [(ngModel)]="password" placeholder="Enter Password"></td>
              </tr>
          </table>
          <button (click)="login()">Login!</button>
      </div>
    </ng-container>
    
    <ng-container *ngIf= "registerflag">
      <div align="center">
        <h3 style="text-decoration: underline;">Register as User</h3>
        <table border="1px">
            <tr>
                <td><input type="number" [(ngModel)]="details.loginId" placeholder="Enter Login ID"></td>
            </tr>
            <tr>
                <td><input type="text" [(ngModel)]="details.userName" placeholder="Enter User Name"></td>
            </tr>
            <tr>
                <td><input type="text" [(ngModel)]="details.userPassword" placeholder="Enter User Password"></td>
            </tr>
        </table>
        <button (click)="register()">Create</button>
    </div>
    </ng-container>
    </ng-container>
    
    <div align="center" *ngIf = "message == 'Login successful'">
      <router-outlet></router-outlet>
    </div>


</div>