div{
    align-content: center;
}
.heading{
    text-decoration: underline;
}

ul{
    list-style: none;
}
li{
    display: inline;
    padding: 25px;
}
.container{
    background-color: beige;
    height : 100vh;
}


